body {
  background-color: red;
}

h1{
  text-align: center;
  margin: 0;
  padding: 0;
}

.wrap{
  margin: 0;
}

#container {
  position: relative;
  background-color: pink;
  height: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.score-y{
  position: absolute;
  right: 50px;
  top: 50px;
  z-index: 2;
}
.score-x{
  position: absolute;
  left: 50px;
  top: 50px;
  z-index: 1;
}
#square-x,
#square-y {
  border: solid black 2px;
  position: absolute;
  top: 300px;
  height: 40px;
  width: 40px;
}
#square-x {
 background-color: blue;
 left: 0;
 right: 0;
}

#square-y {
  background-color: red;
  left: 50%;
  top: 0;
  bottom: 0;
}
